body {
    background-color: blueviolet;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#container {
    color: rgb(64, 255, 47);
}

.digit  {
    font-size: 150px;
    font-weight: bold;
}

.txt {
    font-size: 40px;
    font-weight: bold;
}

#btn-container {
    text-align: center;
    margin-top: 40px;
}
.btn {
    padding: 7px 25px;
    font-size: 15px;
    margin: 1px 10px;
    color: white;
    border: 0px;
    cursor: pointer;
}
#start {
    background-color: rgb(47, 255, 92);
    border: 1px;
    border-radius: 5px;

}
#stop {
    background-color: red;
    border: 1px;
    border-radius: 5px;
}
#reset {
    background-color: yellow;
    border: 1px;
    border-radius: 5px;

}